{
    "sourceMaps": true,

    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "tsx": true,
            "dynamicImport": true,
            "decorators": true
        },

        "transform": {
            "react": {
                "runtime": "automatic"
            }
        }
    },
    "module": {
        "type": "commonjs", // Ensure Jest gets the CommonJS modules
        "strict": true,
        "strictMode": true,
        "noInterop": false // Ensure module interop is enabled
    }
}
